html{
    box-sizing: border-box;
    height: 100%;
}
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg,#0464ae,#7a2398,rgb(225, 158, 81));
    display: flex;
    justify-content: center;height: inherit;
    font-display: swap;
}
.calcu{
    backdrop-filter : blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: max-content;
    height: auto;width: 84%; 
    padding: 3%;
    background-color: rgba(215, 9, 9,0.09);
    align-items: center;
    justify-self:center;
    color: rgba(60, 60, 60, 0.8);
    border: 1px rgba(255,255,255,0.01);
    border-radius: 5px;
    box-shadow: 0 4px 10px;
    align-self: center;
}
.result{
    backdrop-filter: blur(10px);
    background-color: rgba(59, 56, 56, 0.8);
    border: 1px solid;
    border-color:transparent;
    box-shadow: 0 3px 10px black;
    color:white;
    padding: 1%;
    font-size:32px;
    overflow: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    border-radius: 2.8px;
}
.result:hover{
    box-shadow: 0 1px 10px black;
}
.button-row{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}
.button-row-top{
    display: flex;
    justify-content:right;
    margin-bottom:25px;
    margin-top:25px;
}
.button-row-top span{
    display: flex;
    margin-left: 6%;
    flex-basis:20%;
}
.button-row-top span .button{
    flex-basis: 100%;
}
.button{
    backdrop-filter: blur(5px);
    background: rgba(200,200,200, 0.5);
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 3px 5px;
    flex-basis: 20%;
    font-family: inherit;
    font-size: x-large;
}
.button-row span{
    display: flex;
    height:100%;
    flex-basis: 20%;
}
.button-row span .button{
    flex-basis: 100%;
    background-color: rgb(225, 158, 81);
}
.button-row span .button:hover{
    background-color: rgba(59, 56, 56, 0.8);
}
.button-row span .button:active{
    box-shadow: 0 0px 5px;   
}
.button:hover{
    border-radius: 4px;
    background-color: rgba(188, 93, 232, 0.6);
    box-shadow: 0 1px 5px;
}

.button:active{
    box-shadow: 0 0px 1px;
}


